@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 80%;
    margin-left: 260px;
}

.container h1 {
    margin: 40px 0px;
}

.panel-footer {
    padding: 20px 70px 40px 70px;
}

.panel-footer h3 {
    text-align: center;
    margin-bottom: 30px;
}

.panel-footer .form-control {
    margin-bottom: 5px;
}

.panel-footer button {
    margin-top: 10px;
}

.selecionado {
    background-color: #ea6f6f !important;
}

.msg-error {
    color: #D20200;
    margin-bottom: 10px;
    padding-left: 10px;
}

.input-busca{
    margin-bottom: 30px;
}

.menu-lateral{
    position: absolute;
    height: 100%;
    float: left;
    width: 250px;
    background-color: #2e2e2e;
}

.menu-h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

.menu-ul{
    font-size: 20px;
    font-weight: 100;
}

.panel-primary {
    border: 3px solid black !important;
    border-radius: 0px;
}

.menu-ul .menu-item-li:hover{
    background-color: purple;
    color: black;
}

.menu-item {
    color: white;
}

.menu-item:hover {
    color: white;
    font-size: 24px;
    font-weight: 200;
    background-color: #ac1f1f !important;
    text-shadow: 2px 2px #000;
    border: 2px solid white;
}

.menu-item:focus {
    color: white;
    font-size: 24px;
    font-weight: 200;
    text-shadow: 2px 2px #000;
    background-color: #c62b2b !important;
    border: 2px solid #9a1f1f;
}

.menu-item:active {
    color: white;
    font-size: 24px;
    font-weight: 200;
    text-shadow: 2px 2px #000;
    background-color: #c62b2b !important;
    border: 2px solid #9a1f1f;
}

.menu-item-li{
    color: white;
}

.menu-item-li:focus {
    color: black!important;
    font-size: 25px;
    font-weight: 400;
    border: 2px solid black;
    border-radius: 0px;
    text-shadow: 2px 2px #000;
}

.menu-item-li:active {
    color: black!important;
    font-size: 25px;
    font-weight: 400;
    border: 2px solid black;
    border-radius: 0px;
    text-shadow: 2px 2px #000;
}

.linha-horizontal {
    background-color: white;
    height: 1px;
    width: 100%;
}

.table-header-custom {
    font-weight: 100;
    font-size: 25px;
    background-color: #d32c2c !important;
    border-radius: 0px;
    height: 60px;
    border: 2px solid black;
    border-radius: 0px;
    text-shadow: 2px 2px #000;
}

.sistema-h1 {
    font-size: 40px;
    align-content: center;
    color: white;
    text-shadow: 1px 1px black;
}

.fundo-pagina{
    background-color: #3e3e3e;
}

.table-border {
    border: 2px black !important;
    border-radius: 0px;
}

.edit-text {
    border: 1px solid #bc2626;
    border-radius: 0px;
}

.edit-text:focus {
    border: 2px solid #911f1f;
    border-radius: 0px;
}

.title-col {
    color: #c62b2b;
    font-weight: 600;
    font-size: 15px;
}

.title-col:hover {
    color: #ac1f1f;
    font-weight: 600;
    font-size: 15px;
}

.botao {
    background-color: #d32c2c;
    border: 2px solid #000000;
    border-radius: 0px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

.botao:disabled {
    background-color: #cb5252;
    border: 2px solid #000000;
    border-radius: 0px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

.botao:hover {
    background-color: #ac1f1f;
    border: 2px solid #000000;
    border-radius: 0px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

.botao-conclui {
    background-color: #129841;
    border: 2px solid #000000;
    border-radius: 0px;
    font-size: 16px;
    margin-right: 5px;
    color: white;
    font-weight: 100;
}

.botao-conclui:disabled {
    background-color: #449b62;
    border: 2px solid #000000;
    border-radius: 0px;
    margin-right: 5px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

.botao-conclui:hover {
    background-color: #0c692c;
    border: 2px solid #000000;
    border-radius: 0px;
    margin-right: 5px;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

