<h1 class="sistema-h1">Cadastro de Adoção / Venda de animal</h1>

<!-- Exibe os dados -->
<div class="panel panel-primary">
    

    <div class="panel-footer">
        <h3>Adicionar Venda ou Adoção do Animal</h3>

        <form name="cadastroAdocaoVendaForm">
            
            <span class="title-col">Tipo do Documento</span>
            <select class="form-control edit-text" name="tipo" ng-model="adocaovenda.tipoDocumento" ng-options="tipo for tipo in tiposdocumentos | orderBy:'tipo'" 
                    ng-required="true">
                <option value="">Selecione o Tipo do Documento</option>
            </select>
            <div class="msg-erro" ng-show="cadastroAdocaoVendaForm.tipoDocumento.$dirty && cadastroAdocaoVendaForm.tipoDocumento.$invalid">
                <small ng-show="cadastroAdocaoVendaForm.tipoDocumento.$error.required">* Campo obrigatório</small>
            </div>
     
            <span class="title-col">Pessoa</span>
            <select class="form-control edit-text" name="pessoa" ng-model="adocaovenda.pessoa" ng-options="pessoa.nome for pessoa in pessoas | orderBy:'nome'" 
                    ng-required="true" ng-controller="PessoaController">
                <option value="">Selecione a Pessoa que esta comprando / adotando </option>
            </select>
            <div class="msg-erro" ng-show="cadastroAdocaoVendaForm.pessoa.$dirty && cadastroAdocaoVendaForm.pessoa.$invalid">
                <small ng-show="cadastroAdocaoVendaForm.pessoa.$error.required">* Campo obrigatório</small>
            </div>
            
            <span class="title-col">Animal</span>
            <select class="form-control edit-text" name="animal" ng-model="adocaovenda.animal" ng-options="animal.apelido for animal in animais | orderBy:'apelido'" 
                    ng-required="true" ng-controller="AnimalController">
                <option value="">Selecione o bicho</option>
            </select>
            <div class="msg-erro" ng-show="cadastroAdocaoVendaForm.animal.$dirty && cadastroAdocaoVendaForm.animal.$invalid">
                <small ng-show="cadastroAdocaoVendaForm.animal.$error.required">* Campo obrigatório</small>
          </div>
            
            <input type="text" class="form-control edit-text invisible" name="id" ng-model="pessoa.id"/>
            
            
        </form>
        <button class="btn btn-primary btn-block botao" ng-click="salvarAdocaoVenda(adocaovenda)"
                ng-disabled="cadastroAdocaoVendaForm.$invalid">Adicionar Adocao / Venda
        </button>
    </div>
    
    <div class="panel-heading table-border table-header-custom">Lista de AdocaoVendas</div>
    <div class="panel-body">
        <p ng-if="adocoesvenda.length == 0" class="text-danger">Não existem registros para serem exibidos!</p>
        <input ng-show="adocoesvenda.length > 0" type="text" class="form-control input-busca  edit-text"
               ng-model="criterioBusca" placeholder="O que você está buscando?"/>
        <table ng-if="adocoesvenda.length > 0" class="table table-striped table-condensed">
            <thead>
            <tr>
                <th width="20px"></th>
                <th><a href="" ng-click="ordernarPor('pessoa.nome')" class="title-col">Pessoa</a></th>
                <th><a href="" ng-click="ordernarPor('animal.apelido')" class="title-col">Animal</a></th>
                <th><a href="" ng-click="ordernarPor('dtEmissao')" class="title-col">Data</a></th>
                <th><a href="" ng-click="ordernarPor('tipoDocumento')" class="title-col">Tipo</a></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-class="{selecionado: adocaovenda.selecionado}"
                ng-repeat="adocaovenda in adocoesvenda | filter:{nome: criterioBusca} | orderBy: criterioOrdenacao:direcaoOrdenacao">
                <td><input type="checkbox" ng-model="adocaovenda.selecionado"/></td>
                <td>{{ adocaovenda.pessoa.nome }}</td>
                <td>{{ adocaovenda.animal.apelido }}</td>
                <td>{{ adocaovenda.dtEmissao }}</td>
                <td>{{ adocaovenda.tipoDocumento }}</td>
                
            </tr>
            </tbody>
        </table>
        <button class="btn btn-danger pull-right botao" ng-if="isSelecionado(adocoesvenda)" ng-click="remover(adocoesvenda)">Remover Selecionados</button>
    </div>

</div>