<div class="row">
    <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
        <div class="panel panel-primary">
            <div class="panel-heading"></div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>  
                            <th width="50px">#</th>
                            <th width="150px">Nome</th>
                            <th>Descrição</th>
                            <th width="70px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="taskboard in taskboards">  
                            <td>{{taskboard.id}}</td>
                            <td>{{taskboard.nome}}</td>
                            <td>{{taskboard.descricao | limitTo:70}}</td>
                            <td>
                                <button class="btn btn-xs btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button class="btn btn-xs btn-danger" ng-click="delTask(taskboard)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer"></div>
            
        </div>
    </div>
    <div class= "col-xs-12 col-sm-12 col-md-6 col-lg-6 "></div>
</div>